.btn {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
  min-width: 160px;
  padding: 10.5px 15px;
}

.btn,
.btn > * {
  color: var(--grey);
  font-weight: 700;
}

.btn-primary {
  background-color: var(--purple);
}

.btn-primary:hover {
  background-color: var(--purple-hover);
}

.btn-primary:focus {
  outline: var(--purple-hover) dotted 2px;
}

@media (max-width: 950px) {
  .btn {
    font-size: 14px;
    padding: 11px 15px;
  }
}

@media (max-width: 813px) {
  .btn {
    min-width: 0;
    padding: 11px 16px;
    font-size: 13px;
  }
}
