.btn {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
  min-width: 160px;
  padding: 10.5px 15px;
}

.btn,
.btn > * {
  color: var(--grey);
  font-weight: 700;
}

.btn-primary {
  background-color: var(--purple);
}

.btn-primary:hover {
  background-color: var(--purple-hover);
}

.btn-primary:focus {
  outline: var(--purple-hover) dotted 2px;
}
