.btn {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  padding: 12px 24px;
  border-radius: 10px;
  min-width: 160px;
  font-size: 14px;
}

.btn,
.btn > * {
  color: var(--grey);
  font-weight: 700;
}

.btn-primary {
  background-color: var(--purple);
}

.btn-primary:hover {
  background-color: var(--purple-hover);
}

.btn-primary:focus {
  outline: var(--purple-hover) dotted 2px;
}

.btn-secondary {
  background-color: var(--blue);
}

.btn-secondary:hover {
  background-color: var(--blue-hover);
}

.btn-secondary:focus {
  outline: var(--blue-hover) dotted 2px;
}

.btn-tertiary {
  background-color: var(--grey-darker);
}

.btn-tertiary:hover {
  background-color: var(--grey-darker-hover);
}

.btn-tertiary:focus {
  outline: var(--grey-darker-hover) dotted 2px;
}

.btn-danger {
  background-color: var(--red);
}

.btn-danger:hover {
  background-color: var(--red-hover);
}

.btn-danger:focus {
  outline: var(--red-hover) dotted 2px;
}

@media (max-width: 813px) {
  .btn {
    padding: 11px 24px;
    font-size: 13px;
    min-width: 0;
  }
}
