.comment {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.comment.has-replies .avatar {
  margin-bottom: 24px;
}

.replies-line {
  /* grey dark 10% opacity */
  background-color: rgba(100, 113, 150, 0.1);
  height: 100%;
  width: 1px;
}

.comment-main {
  flex-grow: 1;
}
