.comments-list {
  background-color: #fff;
  padding: 24px 32px 32px 32px;
  border-radius: 10px;
  margin: 24px 0;
}

.comments-list .title {
  color: var(--grey-darker);
  font-size: 1.125rem;
  line-height: 26px;
  letter-spacing: -0.25px;
  margin-bottom: 28px;
}

.comment-divider {
  /* input placeholder 25% opacity */
  background-color: rgba(140, 146, 179, 0.25);
  margin: 32px 0;
  height: 1px;
  width: 100%;
}

.comments-list ul li:last-child .comment-divider {
  display: none;
}

@media (max-width: 760px) {
  .comments-list {
    padding: 24px;
  }

  .comments-list .title {
    margin-bottom: 24px;
  }

  .comment-divider {
    margin: 24px 0;
  }
}
