.comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.comment-main {
  margin-left: 32px;
  flex-grow: 1;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.comment-top .name {
  color: var(--grey-darker);
}

.comment-top .username,
.comment-description {
  color: var(--grey-dark);
}

.reply-btn {
  cursor: pointer;
  color: var(--blue);
  font-weight: 600;
}

.reply-btn:hover {
  text-decoration: underline;
}

.reply-btn:focus-visible {
  outline: var(--blue) dotted 2px;
}

.replying-to {
  color: var(--purple);
  font-weight: 700;
}
