.comment {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.reply-line {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: rgba(100, 113, 150, 0.1);
  margin: 0 25px 0 20px;
  width: 1px;
}

.reply-line-top {
  position: absolute;
  background-color: rgba(100, 113, 150, 0.1);
  height: calc(100% - 64px);
  width: 1px;
  left: 20px;
  top: 64px;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.comment-main {
  margin-left: 32px;
  flex-grow: 1;
}

.comment-main.replies {
  margin-top: 32px;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.comment-top .name {
  color: var(--grey-darker);
  line-height: 13px;
}

.comment-top .username {
  line-height: 13px;
}

.comment-top .username,
.comment-description {
  color: var(--grey-dark);
}

.reply-btn {
  cursor: pointer;
  color: var(--blue);
  font-weight: 600;
}

.reply-btn:hover {
  text-decoration: underline;
}

.reply-btn:focus-visible {
  outline: var(--blue) dotted 2px;
}

.replying-to {
  color: var(--purple);
  font-weight: 700;
}

.avatar.mobile,
.comment-top .mobile {
  display: none;
}

@media (max-width: 760px) {
  .reply-line-top {
    display: none;
  }

  .avatar.desktop,
  .comment-top .desktop {
    display: none;
  }

  .comment-main {
    margin-left: 0;
  }

  .comment-main.replies {
    margin-top: 24px;
  }

  .avatar.mobile,
  .comment-top .mobile {
    display: block;
  }

  .comment-top .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar.mobile {
    margin-right: 16px;
  }

  .reply-line {
    margin: 24px 24px 0 0;
  }
}
