.home-right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-darkest);
  padding: 14px 16px 14px 24px;
  border-radius: 10px;
}

.home-right-nav-suggestions {
  color: #fff;
  margin: 0 34px 0 16px;
}

.home-right-nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right-nav-dropdown-btn {
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-size: var(--h4);
  padding: 4px;
}

.home-right-nav-dropdown-btn span {
  margin-right: 9px;
  font-weight: 700;
}

.home-right-nav-dropdown-btn:hover {
  color: var(--grey-75);
}

.home-right-nav-dropdown-btn:focus {
  outline: #fff dotted 2px;
}

.home-right-nav-dropdown-btn .active {
  transition: all 0.2s ease-in-out;
  transform: rotate(180deg);
}

.home-right-nav-dropdown-outer {
  position: relative;
}
