.roadmap {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
}

.roadmap header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.roadmap .title {
  color: var(--grey-darker);
}

.roadmap a {
  transition: 0.2s ease-in-out;
  text-decoration: underline;
  color: var(--blue);
  font-weight: 600;
}

.roadmap a:hover {
  color: var(--blue-hover);
}

.roadmap a:focus {
  outline: var(--blue) dotted 2px;
}

.status-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-count {
  color: var(--grey-dark);
  font-weight: 700;
}

.status-list li:not(:last-child) {
  margin-bottom: 8px;
}

@media (max-width: 950px) {
  .roadmap {
    min-width: 225px;
  }
}
