.status-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
  padding: 31px;
  width: 100%;
}

.status-card.planned {
  border-top: 6px solid var(--orange);
}
.status-card.in-progress {
  border-top: 6px solid var(--purple);
}
.status-card.live {
  border-top: 6px solid var(--blue-light);
}
