.status-list-header {
  margin-bottom: 32px;
}

.status-list-header h3 {
  color: var(--grey-darker);
}

.status-list-header .description {
  color: var(--grey-dark);
  margin-top: 4px;
}

.status-card-list li:not(:last-child) {
  margin-bottom: 24px;
}

@media (max-width: 950px) {
  .status-list-header {
    margin-bottom: 24px;
  }

  .status-card-list li:not(:last-child) {
    margin-bottom: 16px;
  }
}
