.status-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 0;
}

.status-nav ul li,
.status-nav-btn {
  width: 100%;
}

.status-nav ul li {
  border-bottom: 1px solid rgba(140, 146, 179, 0.25);
}

.status-nav-btn {
  transition: 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;

  /* grey darker 40% */
  color: rgba(58, 67, 116, 0.4);
  border-bottom: 4px solid transparent;
  letter-spacing: -0.18px;
  font-weight: 700;
  padding: 20px 0 16.4px 0;
}

.status-nav-btn.active,
.status-nav-btn:hover {
  color: var(--grey-darker);
}

.status-nav-btn:focus-visible {
  outline: var(--grey-darker) dotted 2px;
}

.status-nav-btn.active.planned {
  border-bottom: 4px solid var(--orange);
}

.status-nav-btn.active.in-progress {
  border-bottom: 4px solid var(--purple);
}

.status-nav-btn.active.live {
  border-bottom: 4px solid var(--blue-light);
}
