.suggestion-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 28px 32px;
  width: 100%;
}

.suggestion-card:focus {
  outline: var(--grey-darkest) dotted 2px;
}

.suggestion-card .main {
  transition: all 0.2s ease-in-out;
  margin: 0 40px;
  flex-grow: 1;
}

.suggestion-card .main:focus {
  outline: var(--grey-dark) dotted 2px;
}

.suggestion-card .main h3 {
  color: var(--grey-darker);
}

.suggestion-card .main p {
  color: var(--grey-dark);
  margin: 4px 0 12px 0;
}

.suggestion-card .main:hover h3,
.suggestion-card .main:focus h3 {
  color: var(--blue);
}

.upvote-btn.mobile {
  display: none;
}

@media (max-width: 760px) {
  .suggestion-card {
    flex-direction: column;
    padding: 24px;
  }

  .suggestion-card > :nth-child(1) {
    order: 3;
  }

  .suggestion-card > :nth-child(2) {
    order: 1;
  }

  .suggestion-card > :nth-child(3) {
    order: 2;
  }

  .upvote-btn.desktop {
    display: none;
  }

  .upvote-btn.mobile {
    display: inherit;
  }

  .suggestion-card .main p {
    margin: 9px 0 8px 0;
  }

  .suggestion-card > * {
    width: 100%;
  }

  .suggestion-card .main {
    margin: 0 0 16px 0;
  }

  .comments-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .suggestion-card .comments-container {
    width: 100%;
  }
}
