.suggestion-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 28px 32px;
  width: 100%;
}

.suggestion-card:focus {
  outline: var(--grey-darkest) dotted 2px;
}

.suggestion-card .main {
  transition: all 0.2s ease-in-out;
  margin: 0 40px;
  flex-grow: 1;
}

.suggestion-card .main h3 {
  color: var(--grey-darker);
}

.suggestion-card .main p {
  color: var(--grey-dark);
  margin: 4px 0 12px 0;
}

.suggestion-card .main:hover h3 {
  color: var(--blue);
}
