.suggestion-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 28px 32px;
  width: 100%;
}

.suggestion-card:focus {
  outline: var(--grey-darkest) dotted 2px;
}

.suggestion-card .main {
  margin: 0 40px;
}
